<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    {{>header}}
    <div class="header_contact">
        <h1 class="contact">Contact US</h1>
    </div>
    <div class="partInTwo">
        <div class="first">
            <figure>
                <i class="fa-sharp fa-solid fa-address-card contact-icon"></i>
            </figure>
        </div>
        <div class="second">
            <div class="contact-us-form">
                <form>
                    <input type="text" id="myName" placeholder="Please Enter Your Name...">
                    <br>
                    <input type="text" id="myEmailId" placeholder="Please Enter Your EmaiID...">
                    <br>
                    <input type="password" id="myPassword" placeholder="Please Enter Your Password...">
                    <br>
                    <input type="number" id="myNumber" placeholder="Please Enter Your Number...">
                    <br>
                    <button>Submit</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>

{{!-- COMPLETE WEBSITE IS BUILD --}}