<footer>
    <p>Created By 💞 With <span class="author-name">Dipanshu Joshi</span></p>
    <div class="all-with-one">
        {{!-- twitter logo --}}
        <a href="https://twitter.com/DJoshila"><i class="fa-brands fa-square-twitter"></i></a>
        {{!-- instagram logo --}}
        <a href="https://www.instagram.com/codewalaladka/"><i class="fa-brands fa-square-instagram"></i></a>
        {{!-- facebook logo --}}
        <a href="https://www.facebook.com/profile.php?id=100084351078889"><i class="fa-brands fa-facebook"></i></a>
        {{!-- youtube logo --}}
        <a href="https://www.youtube.com/channel/UC6sAkNxRq0BSwtT8mciSLWQ"><i
                class="fa-brands fa-square-youtube"></i></a>
    </div>
</footer>

{{!-- COMPLETE WEBSITE IS BUILD --}}